<div class="row"> 
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_perfil.jpg" class="img-fluid" id="fotodeperfil" alt="">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre">Cesar Andres Buratti</p>
        <p>Desarrollador Full Stack Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dignissimos temporibus iure nesciunt illo, cumque tempore, eius nostrum earum, excepturi quos odio laborum repellendus maxime mollitia veritatis voluptates at expedita.</p>
        </span>
    </div>
</div>
