.row {
    padding: 20px;
}

div {
    background-color: aliceblue;
}

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 20%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 450px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 20%;
        box-shadow: 3px 3px 3px grey;
        left: 30%;
        top: 620px;
    }
}




#nombre{
    font-weight: bold;
    margin-top: 30%;
}