<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi delectus quod inventore ut ullam ab! Ex consequuntur vero, animi est quia fugiat rem voluptate quas. Accusamus quasi voluptatem pariatur error!</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi delectus quod inventore ut ullam ab! Ex consequuntur vero, animi est quia fugiat rem voluptate quas. Accusamus quasi voluptatem pariatur error!</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi delectus quod inventore ut ullam ab! Ex consequuntur vero, animi est quia fugiat rem voluptate quas. Accusamus quasi voluptatem pariatur error!</p>
        </ul>
    </div>

</div>
